* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Muller Regular';
}

body {
    position: static;
    min-width: 299px;
}

.main-background-img-container {
    min-height: 700px;
    max-height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/IMG/background.jpg');

    position: relative;
    z-index: -5;
    box-shadow: 0px 0.1px 10px rgb(62, 62, 62);
}

.lady-img {
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 100%; 
    height: auto;
    z-index: 1;
}

/* HEADER */

.container-header {
    padding: 10px;
    height: 58px;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo-box {
    width: 225.22px;
    height: 58px;
    display: flex;
    min-width: 225.22px;
}

.logo {
    width: 44px;
    margin-right: 10px;
}

.logo-title {
    font-size: 20px;
    color: #46b1de;
    font-family: 'Russo One';
}

.navbar-box {
    width: 330px;
    height: 58px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 30px;
}

.nav-button {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.number-box {
    width: 145px;
    height: 58px;
    display: flex;
    justify-content: space-between;
    min-width: 180px;
}

.number {
    width: 18px;
    max-height: 18px;
}

.tel-num {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

/* HEADER */

/* describe-container */

.describe-container {
    width: 50%;
    min-width: 229px;
}

.describe-box {
    position: absolute;
    top: calc(100% - 80%);
    left: calc(100% - 88%);
    width: 1150px;
}

.main-title {
    font-size: 25px;
    color: black;
    width: 500px;
    display: flex;
    min-width: 467px;
    font-family: 'Russo One';
}

.second-title {
    font-size: 25.5px;
    color: #46b1de;
    width: 500px;
    font-family: 'Russo One';
}

.descrive-box {
    font-size: 18px;
    color: black;
    width: 500px;
    font-weight: 600;
    max-width: 470px;
}

.buttons-box {
    width: 450px;
    height: 100px;
}

.buttons {
    max-height: 100px;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

.button-one {
    padding: 15px 40px;
    background-color: #46b1de;
    text-decoration: none;
    color: white;
    box-shadow: 1px 2px 8px rgb(119, 119, 119);
    border-radius: 6px;
    transition: 0.5s;
}

.button-one:hover {
    background-color: #ffffff;
    color: #46b1de;
}

.button-two {
    padding: 15px 40px;
    background-color: white;
    text-decoration: none;
    color: #46b1de;
    box-shadow: 1px 2px 8px rgb(119, 119, 119);
    border-radius: 6px;
    transition: 0.5s;
}

.button-two:hover {
    background-color: #46b1de;
    color: white;
}

/* describe-container */

/* CARDS */

.cards-container {
    width: 100%;
    position: relative;
    top: -50px;
    display: grid;
}

.cards-box {
    width: 1150px;
    min-width: 1150px;
    display: grid;
    justify-self: center;

    align-content: space-between;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 97px);
    gap: 40px;
}

.card {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    box-shadow: 1px 2px 8px rgb(119, 119, 119);
    border-radius: 6px;
    font-family: "Muller Bold";
}

.card-title {
    font-size: 80px;
    padding: 10px;
    color: #46b1de;
    font-weight: 200;
}

.text {
    padding: 10px;
}

/* CARDS */

/* under-text */

.second-container {
    width: 100%;
    height: 100vh;
    position: relative;
}

.second-container-text {
    width: 100%;
    height: 157.2px;
    position: relative;
    text-align: center;

}

.second-text-one {
    display: flex;
    justify-content: center;
    margin: 30px 0px 5px 0px;
    width: 100%;
    font-family: 'Russo One';
}

.second-text-one-style {
    font-size: 40px;
    font-weight: 500;
}

.second-span-style {
    color: #46b1de;
}

.second-text-two {
    margin: 5px 0px 30px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.second-text-two-style {
    max-width: 600px;
}

/* under-text */

/* under-cards */

.second-container-cards {
    width: 100%;
    display: flex;
    margin-top: 30px;
}

.second-block-cards {
    background-color: hsl(195.29,37.23%,73.14%);
    width: 810px;
    min-width: 240px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    border-radius: 10px;
    justify-content: space-around;
}

.second-card {
    display: grid;
    margin: 15px;
    background-color: white;
    border-radius: 10px;
    width: 240px;
    height: 160px;
    
}

.second-card-top-part {
    display: grid;
    grid-template-columns: 50px 190px;
    color: hsl(197.84,67.89%,57.25%);
    display: flex;
    margin: 5px;
    font-family: "Muller Bold";
    align-self: center;
}

.second-card-bottom-part {
    margin-bottom: 20px;
}

.second-h2-number-card {
    font-size: 40px;
    font-weight: 300;
    padding: 0px 10px;
}

.second-h2-title-card {
    font-size: 13px;
    font-weight: 600;
    align-self: center;
}

.second-p-text-card {
    padding: 0px 10px;
    min-height: 76.8px;
}

/*FOOTER*/

.footer {
    width: 100%;
    height: 360px;
    background: linear-gradient(to left, #0580AA, #a0c7d3);
    font-family: 'Muller Regular';
    position: relative;
    box-shadow: 0px -2px 8px rgb(119, 119, 119);
    padding-top: 50px;
}
.footer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.footer-box-one {
    display: grid;
    align-self: left flex-start;
    padding: 10px;
    color: #0F2C4B;
}

.footer-title-box {
    display: flex;
}

.footer-logo-img {
    width: 64px;
}

.footer-title-text-box {
    
    font-size: 28px;
    padding: 0px 20px;
}

.footer-title-text {
    text-transform: uppercase;
}

.footer-untitle-text {
    font-size: 20px;
    font-weight: 600;
}

.footer-under-title-info-box {
    display: grid;
    grid-template-columns: repeat(2, 200px);
}

.footer-button-text-left {
    padding-bottom: 20px;
    text-decoration: none;
    color: #0F2C4B;
}

.footer-right-title-box {
    padding-top: 30px;
}

/* Second-box */

.footer-box-two {
    display: grid;
    align-self: center;
    padding: 10px;
    color: white;
    padding-left: 50px;
    padding-bottom: 0px;
}

.footer-second-title {
    font-size: 20px;
}

.footer-name {
    padding-top: 15px;
}   

.footer-adress {
    padding-top: 15px;
}

.footer-button-phone {
    text-decoration: none;
    padding-top: 15px;
    display: flex;
    color: white;
}

.footer-button-phone p:hover {
    color: rgb(174, 174, 174);
}

.footer-button-phone p:active {
    color: rgb(86, 86, 86);
}


.footer-phone-text {
    display: grid;
    align-self: center;
    padding-left: 10px;
}

.footer-social-media-buttons {
    padding-top: 10px;
    display: flex;
}

.footer-button-img {
    padding-right: 10px;
}

.footer-instagram-button {
    text-decoration: none;
    padding-top: 10px;
    display: flex;
    color: white;
}

.footer-instagram-button p:hover {
    color: rgb(174, 174, 174);
}
.footer-instagram-button p:active {
    color: rgb(86, 86, 86);
}

.footer-instagram-text {
    display: grid;
    align-self: center;
    padding-left: 10px;
}

.footer-email-button {
    text-decoration: none;
    padding-top: 10px;
    display: flex;
    color: white;
}

.footer-email-button p:hover {
    color: rgb(174, 174, 174);
}
.footer-email-button p:active {
    color: rgb(86, 86, 86);
}

.footer-email-text {
    display: grid;
    align-self: center;
    padding-left: 10px;
}

.footer-copyright-box {
    margin-left: 975px;
    padding-bottom: 5px;
    color: white;
    font-size: 12.5px;
}


/*FOOTER*/

